## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
ARM64/
AppPackages/
BundleArtifacts/
*.msix
*.msixbundle
*.appx
*.pfx
*.snk
TestResults/
*.log
.idea/
## Local scratch
*.local.json
